
h5, .card-title {
  text-align: center;
  margin-right: 1rem;
}

/* * {
  text-align: center;
} */

footer {
  background-color: #10054fe7;
  color: white;
}

.col-lg-3 {
  text-align: center;
  margin-right: 0rem;
}

.fa-linkedin {
  font-size: 1.5em;
}

.fa-ball-pile {
  color:  white;
  font-size: 1.5em;
}

.fa-hands-usd {
  color: #070029;
  font-size: 5rem;
}

.titles {
  display: block;
}

nav .nav-wrapper a.page-title {
    font-size: 36px;
    display: block;
}

nav {
  text-align:center;
  color: orange;
}

.title {
    padding: .5rem;
    text-align: center;
}

h2 {
  font-weight:300pt;
}

footer.page-footer {
  margin-top:0px;
  padding-top:0px;
}

footer {
  position:fixed;
  width:100%;
  bottom:0px;
  background: #070029;
}

.row,.content {
  margin: 6rem 0rem 10rem 0;
}

.row {
  overflow-wrap:hidden;
}

.container {
  margin-bottom:10px;
  margin-top:10rem;  
  text-align: center;
}

nav {
  position:fixed;
  top:0px;
  width: 100%;
  background-color: #e3f2fd;
  /* background: #1a097c; */
  /* background: #070029; */
}

.react-root .container {
  margin-top:75px;
  background-color: #070029;
}

section {
  overflow-y: hidden;
  z-index: 0; /*Add this*/
} 

#footer-container {
  margin-bottom:0px;
  background: #1a097c;
  background: #070029;
}

.uw_logo {
    width: 40%;
    margin-right:10rem; 
}

.ischool_logo {
    width: 40%;
    height: 30%;
}

.logo_imgs {
  display: inline;
}

.logo_imgs img {
  margin: 0.5rem 3rem 0 3rem; 
}

.logo {
    width: 10%;
}

h5, h2, p {
  color: rgb(0, 0, 0);
}

nav h2 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30pt;
}


footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(221, 144, 0);
}


.navbar-brand {
  margin-right: 10px;
  width: 5%;
  height: 10%;
}
.navbar-brand img {
  width: 30px;
  height: 30px;
}

.nav-contain {
  margin-top: 0;
  color: white;
}

.comma_img {
  width: 25%;
  height: 25%;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.contact {
  text-align: 'left'
}